body{
    font-family: "Georgia";
    background-color: black;
    margin: 0;
}
.container{
    margin: 0 100px;
}

/* Css Header */
.header{
    background-color:#1a4e4d;
    color: azure;
    width: 100%;
    height: 65px;
    z-index: 1000;
    position: fixed;
}
.flex-box{
    display: flex;
    justify-content: space-between;
}
.header-logo img {
    width: 65px;
    height: 65px;
}
.header-list ul{
    display: flex;
    padding-top: 5px;
}
.header-list li{
    margin-right: 30px;
    list-style: none;
}
.header-list a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.header-list a:hover{
    text-decoration: none;
    color: #efefef;
    font-weight: 600;
}

/* CSS Jumbotron */
.jumbotron{
    height: 450px;
    padding-top: 65px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.slider{
    border: 5px solid #efefef;
    position: relative;
    overflow: hidden;
    background: #efefef;
    width: 783px;
    height: 450px;
}
.isi-slider img{
    width: 783px;
    height: 450px;
    float: left;
}
.isi-slider{
    position: absolute;
    width: 4500px;
    animation-name: slider;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name:slider;
	-webkit-animation-duration:16s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name:slider;
	-moz-animation-duration:16s;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count:infinite;
	-o-animation-name:slider;
	-o-animation-duration:16s;
	-o-animation-timing-function: ease-in-out;
    -o-animation-iteration-count:infinite;
}   
.isi-slider:hover { 
    -webkit-animation-play-state:paused; 
    -moz-animation-play-state:paused; 
    -o-animation-play-state:paused; 
    animation-play-state:paused; 
}  
.isi-slider img { 
    display: flex;
    justify-content: flex-start;
}
        
@-moz-keyframes slider {     
    0% {
        left: 0; opacity: 0; 
    }     
    2% {
        opacity: 1; 
    }     
    20% {
        left: 0; opacity: 1; 
    }     
    21% {
        opacity: 0; 
    }     
    24% {
        opacity: 0; 
    }     
    25% {
        left: -783px; opacity: 1; 
    }       
    45% {
        left: -783px; opacity: 1; 
    }     
    46% {
        opacity: 0; 
    }     
    48% {
        opacity: 0; 
    }     
    50% {
        left: -1566px; opacity: 1; 
    }     
    70% {
        left: -1566px; opacity: 1; 
    }     
    72% {
        opacity: 0; 
    }     
    74% {
        opacity: 0; 
    }    
    75% {
        left: -2370px; opacity: 1; 
    }   	
    95% {
        left: -2370px; opacity: 1; 
    }   	
    97% { 
        left: -2370px; opacity: 0;
    }   	
    100% {
        left: 0; opacity: 0; 
    }
} 
    
@-webkit-keyframes slider {     
    0% {
        left: 0; opacity: 0; 
    }     
    2% {
        opacity: 1; 
    }     
    20% {
        left: 0; opacity: 1; 
    }     
    21% {
        opacity: 0; 
    }     
    24% {
        opacity: 0; 
    }     
    25% {
        left: -783px; opacity: 1; 
    }       
    45% {
        left: -783px; opacity: 1; 
    }     
    46% {
        opacity: 0; 
    }     
    48% {
        opacity: 0; 
    }     
    50% {
        left: -1566px; opacity: 1; 
    }     
    70% {
        left: -1566px; opacity: 1; 
    }     
    72% {
        opacity: 0; 
    }     
    74% {
        opacity: 0; 
    }    
    75% {
        left: -2370px; opacity: 1; 
    }   	
    95% {
        left: -2370px; opacity: 1; 
    }   	
    97% { 
        left: -2370px; opacity: 0;
    }   	
    100% {
        left: 0; opacity: 0; 
    }
} 
    
    
@keyframes slider {     
    0% {
        left: 0; opacity: 0; 
    }     
    2% {
        opacity: 1; 
    }     
    20% {
        left: 0; opacity: 1; 
    }     
    21% {
        opacity: 0; 
    }     
    24% {
        opacity: 0; 
    }     
    25% {
        left: -783px; opacity: 1;
    }     
    45% {
        left: -783px; opacity: 1; 
    }     
    46% {
        opacity: 0; 
    }     
    48% {
        opacity: 0; 
    }     
    50% {
        left: -1566px; opacity: 1; 
    }     
    70% {
        left: -1566px; opacity: 1; 
    }     
    72% {
        opacity: 0; 
    }     
    74% {
        opacity: 0; 
    }    
    75% {
        left: -2370px; opacity: 1; 
    }   	
    95% {
        left: -2370px; opacity: 1; 
    }   	
    97% { 
        left: -2370px; opacity: 0; 
    } 
    
    100% {
        left: 0; opacity: 0; 
    }
}
.sidebar {
    width: 517px;
    height: 450px;;
}
.sidebar h3{
    color: white;
}
.side-content {
    width: 500px;
    height: 128px;
    background-color: #161616;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.side-content img{
    width: 100px;
    height: 128px;
    border-radius: 5px;
}
.side-text h5{
    margin: 1px 5px;
    padding-bottom: 5px;
    color: white;
}
.side-text p{
    font-size: 12px;
    margin: 1px 5px;
    padding-top: 0;
    color: white;
}
.btn-upcoming{
    background-color: #1A4E4D;
    border-radius: 5px;
    padding: 5px 10px;
    border-color: #161616;
    margin-bottom: 5px;
    margin-left: 5px;
    color: white;
    font-weight: 700;  
}
.btn-upcoming:hover {
    background-color: #1b5e5c;
}
.contents {
    margin-bottom: 50px;
}
.section-title{
    border-top: 3px solid #bdcbd3;
    font-size: 30px;
    padding-bottom: 15px;
    padding-top: 30px;
    color: white;
    text-align: center;
}

.contents-item{
    width: 150px;
    height: 400px;
    border-radius: 5px;
    background-color: #161616;
}
.contents-item img{
    border-radius: 5px;
    width: 150px;
    height: 230px;   
}
.contents-item p{
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    color: white;
}
.contents-item span{
    color: white;
    text-align: center;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.btn {
    background-color: #1A4E4D;
    border-radius: 5px;
    padding: 10px 20px;
    border-color: #161616;
    display: block;
    margin: 0 auto;
    color: white;
    font-weight: 700;
}
.contents-item a {
    text-decoration: none;
}
.btn:hover {
    background-color: #1b5e5c;
}
.text-about{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 0;
}
.about{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.member{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 20px;
}
.about p{
    color: white;
    font-size: 28px;
    font-weight: 600;
    padding: 0 40px 0 40px;
}
.sosmed-profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sosmed{
    width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px; 
}
.fa{
    text-decoration: none;
    color: white;
}
.linkedin{
    background-color: #2867B2;
}
.linkedin:hover{
    background-color: rgb(65, 121, 189);
}
.insta{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.insta:hover{
    background: #f7ae61;
    background: -moz-linear-gradient(45deg, #faac58 0%,#ec7c53 25%,#e7475f 50%,#cf3573 75%,#c93399 100%); 
  background: -webkit-linear-gradient(45deg, #faac58 0%,#ec7c53 25%,#e7475f 50%,#cf3573 75%,#c93399 100%); 
  background: linear-gradient(45deg, #faac58 0%,#ec7c53 25%,#e7475f 50%,#cf3573 75%,#c93399 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.twitter{
    background-color:  #55ACEE;
}
.twitter:hover{
    background-color:  rgb(156, 203, 240);
}
.footer{
    background-color: #1A4E4D;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-logo p {
    color: white;
}

